<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>URL Shortener</h1>
  <table>
    <tr>
      <th>긴 URL</th>
      <th>짧은 URL</th>
    </tr>
    <% urls.forEach(urlItem => { %>
      <tr>
        <td><%= urlItem.longUrl %></td>
        <td><a href="//<%= host %>/<%=urlItem.slug %>"><%= urlItem.slug %></a></td>        
      </tr>
    <% }) %>
  </table>
</body>
</html>